@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'NerdFontsSymbols Nerd Font';
    /* @TODO you need to adjust the path to the font: */
    src: url("./fonts/nerdfont-symbols.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
.nf, .nerd-font, .nerd-fonts {
    font-family: 'NerdFontsSymbols Nerd Font';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 24px;
    /* Better Font Rendering (from devicons, et al) */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}
body {
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
li, header a{
    animation: HoverFadeOut 250ms;
    color: #ECEFF4;
    background: none;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
    line-height: 0;
}
header a:hover {
    animation: HoverFadeIn 250ms;
    color: #5E81AC;
    background: none;
}
a .logo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5% 16px 5% ;
    background-color: #2e3440bb;
    backdrop-filter: blur(10px);
    position: fixed;
    width: 90vw;
    top: 0;
    z-index: 100;
}
.current {
    color: #88C0D0;
    animation: none;
}
.current:hover {
    animation: none;
    color: #88C0D0;
}
.navlinks {
    list-style-type: none;
}

.navlinks li {
    display: inline-block;
}
@keyframes HoverFadeIn {
    0% {color: #ECEFF4}
    100% {color: #5E81AC}
}
@keyframes HoverFadeOut {
    100% {color: #ECEFF4}
    0% {color: #5E81AC}
}
.menu {
    display: none;
}
@media only screen and (max-width: 600px) {
    .other {
        display: none;
    }
    .current {
        display: block;
    }
    nav {
        transition: width 200ms;
    }
    .menu-placeholder {
        display: none;
    }
    .menu {
        display: block;
        background-color: #00000000;
        border: none;
    }
    a.menu-icon {
        font-family: 'NerdFontsSymbols Nerd Font';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 36px;
        font-size: 36px;
        /* Better Font Rendering (from devicons, et al) */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}