@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('../stylesheet.css');

.content {
    margin: 128px;
    padding: 16px;
    font-size: 24px;
    background-color: #2e3440bb;
    color: #ECEFF4;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: fit-content;
}
