@import url('../stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.content {
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.heading {
    text-align: center;
    margin: 28px;
    font-size: 20px;
    color: #eceff4;
    transition: display 200ms;
}
.icon {
    height: 96px;
    width: 96px;
    margin: auto;
    border-radius: 50%;
    transition: display 200ms;
}
.link {
    width: 480px;
    height: 48px;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    background-color: #2e3440bb;
    color: #eceff4;
    border: none;
    backdrop-filter: blur(10px);
    text-align: center;
    transition: transform 200ms, width 200ms;
}
.link:hover {
    transform: scale(110%, 110%);
}
.error {
    display: none;
}
@media only screen and (max-width: 550px) {
    .link {
        width: 85vw;
        height: 48px;
    }
}
@media only screen and (max-height: 720px) {
    .icon {
        display: none;
    }
}
@media only screen and (max-height: 580px) {
    .heading {
        display: none;
    }
    .link {
        transform: scale(90%, 90%);
        margin: 2px;
    }
    .link:hover {
        transform: scale(95%, 95%);
    }
}
@media only screen and (max-height: 470px) {
    .content {
        display: none;
    }
    .error {
        display: block; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: red;
        background-color: #2e3440bb;
        padding: 10px;
        border-radius: 10px;
        backdrop-filter: blur(10px);
    }
}
