@import url('../stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.content {
    margin-top: 84px;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.heading {
    text-align: center;
    margin: 28px;
    font-size: 20px;
    color: #eceff4;
}
.icon {
    height: 96px;
    width: 96px;
    margin: auto;
    border-radius: 50%;
}
.link {
    width: 480px;
    height: 48px;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    background-color: #2e3440bb;
    color: #eceff4;
    border: none;
    backdrop-filter: blur(10px);
    text-align: center;
    transition: transform 200ms, width 200ms;
}
.link:hover {
    transform: scale(110%, 110%);
}
@media only screen and (max-width: 550px) {
    .link {
        width: 85vw;
        height: 48px;
    }
}
